POSTGRES_USER: postgres
POSTGRES_PASSWORD: postgres
POSTGRES_DB: postgres
MONGO_INITDB_ROOT_USERNAME: mongodb
MONGO_INITDB_ROOT_PASSWORD: mongodb
MONGO_INITDB_DATABASE: chat
USER_SERVICE.POSTGRES.HOST = localhost
USER_SERVICE.POSTGRES.PORT = 5432
USER_SERVICE.POSTGRES.USER = postgres
USER_SERVICE.POSTGRES.PASSWORD = postgres
USER_SERVICE.POSTGRES.DATABASE = postgres
USER_SERVICE.POSTGRES.SSLMODE = disable